################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IoCCinema/packages
bin
obj
/IoCCinema/.vs
